.right{
    position: absolute;
    right: 2%;
}

.mat-toolbar.mat-accent {
    background: #ff0040;
    color: #fff;
}
mat-sidenav {
    background: #ff0040;
    color: white;
    padding: 25px 25px ;
}
  a {
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: #ccc;
  }