<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">SendIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- used for spacing -->
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Features</a>
                </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/login"> Login </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Create Account</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>