<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
          <h1>Deliver Easily <br> within and across cities</h1><br>
          <p>Make a request from the comfort of your home or office and an agent 
            will pick it up and get it done. It's seamless delivery, on demand.</p>
          <p>SendIT connects businesses and individuals with the right courier 
            agent for quick and affordable delivery.</p>
          <br>
          <button class="btn btn-success">Create Account</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center colored-heading">Simple, efficient deliveries</h3>
  <h4 class="text-center">
    For your offline businesses or online sales outlet, all you 
    require to integrate shipping and delivery tracking into your workflow is now one button away
  </h4>
</div>
<div class="client-types">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-4">
              <h6 class="colored-heading uppercase">For Individuals</h6>
              Whether it is sending something special to a friend or picking up a last 
              minute item for that deadline or special event, 
              use SendIT to find quick and affordable options for delivery.
          </div>
          <div class="col-sm-12 col-md-4">
              <h6 class="colored-heading uppercase">For Businesses</h6>
              SendIT allows businesses to schedule hundreds of packages for delivery in simple steps. Say goodbye to the hassle of 
              manual tracking and poor customer service so you can focus on being great!
          </div>
          <div class="col-sm-12 col-md-4">
              <h6 class="colored-heading uppercase">For Platforms</h6>
              Connect our API's to your ecommerce website, blog, marketplace or back office web platform and integrate shipping quotes, 
              package tracking and delivery notifications easily. 
          </div>
        </div>
  </div>
</div>
<div class="how-it-works">
    <div class="container">
      <div class="header">
          <h3 class="text-center">How it Works</h3>
          <h5 class="text-center">Whether you're a small or large business, SendIT is really easy to use.</h5>
      </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h1 class="underline">1</h1>
                <p>
                Whether it is sending something special to a friend or picking up a last 
                minute item for that deadline or special event, 
                use SendIT to find quick and affordable options for delivery.
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h1 class="underline ">2</h1>
                <p>
                SendIT allows businesses to schedule hundreds of packages for delivery in simple steps. Say goodbye to the hassle of 
                manual tracking and poor customer service so you can focus on being great!
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h1 class="underline">3</h1>
                <p>
                Connect our API's to your ecommerce website, blog, marketplace or back office web platform and integrate shipping quotes, 
                package tracking and delivery notifications easily. 
                </p>
            </div>
          </div>
    </div>
  </div>
  <div class="container">
      <h3 class="text-center colored-heading">Features you'll come to know and love</h3>
      <h4 class="text-center">
          We make managing your deliveries as easy as checking your social media accounts.
      </h4>
  </div>
  <div class="client-types">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-4">
                  <h6 class="colored-heading uppercase">Pick up & Drop-offs</h6>
                  <p>Easily gain access to pickup agents and drop-off locations that are closest to you. 
                    Same day, next day or 2 week delivery, is available to you right here.
                  </p>
              </div>
              <div class="col-sm-12 col-md-4">
                  <h6 class="colored-heading uppercase">Tracking & Notifications</h6>
                 <p>
                    Get the same kind of tracking for every package you send. For local & international shipments, 
                    you and your recipients can follow up as much as possible
                 </p>
              </div>
              <div class="col-sm-12 col-md-4">
                  <h6 class="colored-heading uppercase">Integrations</h6>
                  <p>
                      Easily integrate SendIT into your other systems. If your business requires consistency with 
                      shipping, then you're in spacerthe right place.
                  </p> 
              </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h6 class="colored-heading uppercase">Automatic Scheduling & Routing</h6>
                    <p>
                        Never miss a delivery timeline again! Distribute your delivery workload to multiple couriers 
                        using manual or automatic scheduling and routing. 
                    </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h6 class="colored-heading uppercase">Cash handling & Remittance</h6>
                    <p>
                        If handling payments on delivery is part of your business process, then you're in the right place. Reconciling partial 
                        payments with your shipment report is also available to you.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h6 class="colored-heading uppercase">Nationwide Delivery</h6>
                    <p>
                        Ship like you own the world! With SendIT, you can immediately ship your packages Nationwide.
                         International shipments are also possible.
                    </p> 
                </div>
              </div>
              <br><br>
      </div>
  </div>
  <footer>
      <div class="container">
              <h2>Ready to get started? Create an account</h2>
              <p>Dont worry, It's free & easy to setup. You only pay for what you ship</p>
              <br><br>
              <button class="btn btn-success">Create SendIT Account</button>
      </div>
    </footer>