
<div class="landing">
        <app-navbar></app-navbar>

  <main>
    <section id="card">
        <ul>
            <li>
                <span></span>
                <strong>Make a request from the comfort of anywhere</strong>
            </li>
            <li>
                  <span></span>
                  <strong>An agent will pick it up and get it done</strong>
              </li>
              <li>
                  <span></span>
                  <strong>It's seamless delivery, on demand.</strong>
              </li>
        </ul>
    </section>
    <section id="primary">
          <h1>Deliver Easily Within and Across Cities</h1>
          <p>Connect your businesses and individuals with the right courier agent</p> <br>
          <button class="btn btn-success">Create Account</button>
    </section>
  </main>
</div>

<div class="white-bg">
  <h3>Simple, efficient deliveries</h3>
  <h4>
    For your offline businesses or online sales outlet, all you 
    require to integrate shipping and delivery tracking into your workflow is now one button away
  </h4>
<div class="client-types">
    <div>
        <h6>For Individuals</h6>
        <p>Whether it is sending something special to a friend or picking up a last 
        minute item for that deadline or special event, 
        use SendIT to find quick and affordable options for delivery. </p>
    </div>
    <div>
        <h6>For Businesses</h6>
        <p>SendIT allows businesses to schedule hundreds of packages for delivery in simple steps. Say goodbye to the hassle of 
        manual tracking and poor customer service so you can focus on being great!</p>
    </div>
    <div>
        <h6>For Platforms</h6>
        <p>Connect our API's to your ecommerce website, blog, marketplace or back office web platform and integrate shipping quotes, 
        package tracking and delivery notifications easily.</p>
    </div>
</div>
</div>


<div class="how-it-works">
    <header>
        <h3>How it Works</h3>
        <h5>Whether you're a small or large business, SendIT is really easy to use.</h5>
    </header>
    <div class="float">
        <div>
            <h1>1</h1>
            <p>
            Whether it is sending something special to a friend or picking up a last 
            minute item for that deadline or special event, 
            use SendIT to find quick and affordable options for delivery.
            </p>
        </div>
        <div>
            <h1>2</h1>
            <p>
            SendIT allows businesses to schedule hundreds of packages for delivery in simple steps. Say goodbye to the hassle of 
            manual tracking and poor customer service so you can focus on being great!
            </p>
        </div>
        <div>
            <h1>3</h1>
            <p>
            Connect our API's to your ecommerce website, blog, marketplace or back office web platform and integrate shipping quotes, 
            package tracking and delivery notifications easily. 
            </p>
        </div>
    </div>
</div>

<div class="white-bg">
    <h3>Features you'll come to know and love</h3>
    <h4>
        We make managing your deliveries as easy as checking your social media accounts.
    </h4>
  <div class="client-types">
      <div>
        <h6 >Pick up & Drop-offs</h6>
        <p>Easily gain access to pickup agents and drop-off locations that are closest to you. 
        Same day, next day or 2 week delivery, is available to you right here.
        </p>
        </div>
        <div>
            <h6>Tracking & Notifications</h6>
            <p>
            Get the same kind of tracking for every package you send. For local & international shipments, 
            you and your recipients can follow up as much as possible
            </p>
        </div>
        <div>
            <h6>Integrations</h6>
            <p>
                Easily integrate SendIT into your other systems. If your business requires consistency with 
                shipping, then you're in spacerthe right place.
            </p>
        </div>
    </div>
<div class="client-types">
    <div>
        <h6>Automatic Scheduling & Routing</h6>
        <p>
            Never miss a delivery timeline again! Distribute your delivery workload to multiple couriers 
            using manual or automatic scheduling and routing. 
        </p>
    </div>
    <div>
        <h6>Cash handling & Remittance</h6>
        <p>
            If handling payments on delivery is part of your business process, then you're in the right place. Reconciling partial 
            payments with your shipment report is also available to you.
        </p>
    </div>
    <div>
        <h6>Nationwide Delivery</h6>
        <p>
            Ship like you own the world! With SendIT, you can immediately ship your packages Nationwide.
                International shipments are also possible.
        </p>
    </div>
  </div>
</div>

  <footer>
    <h2>Ready to get started? Create an account</h2>
    <p>Dont worry, It's free & easy to setup. You only pay for what you ship</p>
    <button class="btn btn-success">Create SendIT Account</button>
    </footer>