<div class="signup-wrapper">
    <div class="form">
      <form>
          <div class="form-header">
            Create New Account
          </div>
          <div class="input">
            <label for="name">Full Name</label>
            <input type="text" id="name">
          </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="email" id="email">
        </div>
        <div class="input">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div>
        <div class="input">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password">
        </div>
        <div class="submit">
          <button type="submit" class="btn">Signup</button>
        </div>
        <div class="account-prompt">
            <p>Already have an account? <a routerLink ="/login">Sign In</a></p>
        </div>
      </form>
    </div>
</div>
