.form{
    width: 90%;
    margin: auto;
}
.submit-shippment{
    background: white;
    color: #666;
    border: 1px solid #ff0040;
    width: 100%;
}
.submit-shippment:hover{
    background: #ff0040;
    color: white;
    border: 1px solid #ff0040;
}