@import 'variables.scss';

.form{
    width: 90%;
    margin: auto;
}
.submit-shippment{
    background: white;
    color: #666;
    border: 1px solid $major-color;
    width: 100%;
}
.submit-shippment:hover{
    background: $major-color;
    color: white;
    border: 1px solid $major-color;
}