
<div class="form">
  <form>
      <h6>FROM</h6> 
      <hr>
    <div class="row">
      <div class=" col origin">
      <div class="formgroup">
        <input type="text" placeholder="Name" class="form-control"> <br>
        <input type="text" placeholder="State" class="form-control">
      </div>
      </div>
      <div class=" col origin">
        <div class="formgroup">
          <input type="email" placeholder="Email" class="form-control"><br>
          <input type="text" placeholder="Street" class="form-control">
        </div>
      </div>
      <div class="col origin">
          <input type="text" placeholder="Phone" class="form-control"><br>
          <input type="text" placeholder="City" class="form-control">
      </div>
    </div><br>
    <h6>TO</h6> 
      <hr>
    <div class="row">
        <div class=" col origin">
            <div class="formgroup">
              <input type="text" placeholder="Name" class="form-control"> <br>
              <input type="text" placeholder="State" class="form-control">
            </div>
            </div>
            <div class=" col origin">
              <div class="formgroup">
                <input type="email" placeholder="Email" class="form-control"><br>
                <input type="text" placeholder="Street" class="form-control">
              </div>
            </div>
            <div class="col origin">
                <input type="text" placeholder="Phone" class="form-control"><br>
                <input type="text" placeholder="City" class="form-control">
            </div>
    </div> <br>
    <h6>Parcel Details</h6> 
      <hr>
    <div class="row">
        <div class=" col origin">
            <div class="formgroup">
              <input type="text" placeholder="Description" class="form-control">
            </div>
            </div>
            <div class=" col origin">
              <div class="formgroup">
                <input type="email" placeholder="Category" class="form-control">
              </div>
            </div>
            <div class="col origin">
                <input type="text" placeholder="Weight(kg)" class="form-control">
            </div>
    </div><hr><br><br>

    <div class=" row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"><button class="btn submit-shippment">Submit Shippment</button></div>
    </div>
  </form>
</div>